
.banner_logo {
    max-width: 110px;
    margin-bottom: 25px;
}
.custom_banner_heading {
    font-size: 48px;
    font-weight: 900 !important;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.custom_banner_left p {
    font-weight: 500;
    font-size: 16px;
}
.custom_b_btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap:wrap
}
.custom_b_btns a {
    color: #002970;
    font-weight: 700;
    font-size: 20px;
    padding: 19px 75px 20px 55px;
    border-radius: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.custom_b_btns a span {
    position:relative
}

.custom_b_btns a span:after {
    position:absolute;
    content:'';
    width: 13px;
    height: 13px;
    border-top: 3px solid #002970;
    border-right: 3px solid #002970;
    top: 7px;
    right: -20px;
    transform: rotate(45deg);
    transition: all .2s ;
}
.custom_b_btns a:hover span:after {
    position:absolute;
    content:'';
    right:-30px
}
.custom_b_btns a img {
    max-width:25px;
    margin-right:5px
}
.custom_b_btns a.tte_btn {
    background: #002970;
    color: #fff;
}
.custom_b_btns a.tte_btn:hover {
	color: #fff !important;
    text-decoration: none;
}
.custom_b_btns a.tte_btn span:after {
    border-color:#fff
}
.home-hero {
    min-height: 100vh;
}
.care {
    background: rgb(0,47,111);
    background: -moz-linear-gradient(180deg, rgba(0,47,111,1) 13%, rgba(0,184,240,1) 87%);
    background: -webkit-linear-gradient(180deg, rgba(0,47,111,1) 13%, rgba(0,184,240,1) 87%);
    background: linear-gradient(180deg, rgba(0,47,111,1) 13%, rgba(0,184,240,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002f6f",endColorstr="#00b8f0",GradientType=1);
}
.careThumbs {
    position: relative;
    margin: 20px 0;
    padding-bottom:50px;
}
.careThumb {
    padding:  20px;
    border-radius: 24px;
    color: #fff;
    font-size: 24px;
    width: 18%;
    margin-bottom: 10px;
    position: relative;
}
.bgc_1 {
    background: #00baf2;
}
.bgc_2 {
    background: #66d6ff;
}
.careThumb .careIcon {
    max-width: 60%;
    margin-bottom: 10px;
}
.careImg {
    max-width:500px;
    margin-top: 40px;    
}
.careThumbs:after {
    position: absolute;
    content: '';
    border-bottom: 2px dotted #fff;
    width: 82%;
    top: 100%;
    left:9%;
    bottom: 0;
}
.careThumbs:before {
    position: absolute;
    content: '';
    border-left: 2px dotted #fff;
    height: 60px;
    top: 100%;
    left:50%;
    margin-left:-1px
}
.careThumb:after {
    position: absolute;
    content: '';
    border-left: 2px dotted #fff;
    height: 60px;
    top: 100%;
}
.careJumbotron {
    background: #fff !important;
    padding: 3em 4em !important;
    text-align: center;
    border-radius: 40px !important;
    position: relative;
    bottom: -100px;
    box-shadow: 0 0 10px 5px #00000024;
}
.careJumbotron h3 {
    font-size: 20px;
}
.careJumbotron h1 {
    font-size: 36px;
}
.careJumbotron h1 {
    font-weight: 700;
}

.crm_li_icon {
    min-width: 36px;
    min-height: 36px;
    background: #00baf233;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    display: block;
}
.crm_li_icon:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #00baf2;
    left: 8px;
    top: 8px;
    border-radius: 50%;
}
.crm_li_icon:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    top: 14px;
    left: 12px;
    z-index: 2;
}
.listing {
    margin: 0;
    padding: 0;
    list-style: none;
}
.listing li {
    padding: 4px 0 4px 16px;
    line-height: 22px;
    position: relative;
}
.listing li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background: #01baf2;
    left: 0;
    top: 12px;
    border-radius: 10px;
}
.crm_content {
    width: 80%;
}
.videoThumb {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}
.playBtn {
    max-width: 125px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -62px;
    margin-top: -62px;
    background: #66D6FF;
    padding: 35px 30px 35px 40px ;
    border-radius: 50%;
}
.paytmIcon {
    max-width: 50px;
    margin: 8px 0;
}
.awardLogo {
    max-width: 140px;
    margin-bottom: 20px;
}
.testimonial_item {
    border-radius: 24px;
    padding: 60px 38px;
    min-height: 340px;
}
.testimonial_item a:hover {
    text-decoration: none;
    color: #00BAF2;
}
.testimonial_logo {
    max-width: 81px;
}
@media screen and (max-width:992px) {
    .custom_banner_heading {
        font-size: 30px;
    }
}

@media screen and (max-width:767px) {
    .custom_banner {
        text-align: center;
    }
    .custom_b_btns {
        justify-content: center;
    }
}