@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body, * {
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.font-26 {
  font-size: 26px;
}
.font-46 {
  font-size: 46px;
}
.font-17 {
  font-size: 17px;
}
.font-20 {
  font-size: 20px;
}
.font-40 {
  font-size: 40px;
}
.font-weight-medium {
  font-weight: 600;
}
.font-weight-semi {
  font-weight: 500;
}
.font-15 {
  font-size: 15px;
}
.lh-14 {
  line-height: 1.4;
}
.bg_grey {
  background-color: #f5f7fa;
}
.bg_grey {
  background-color: #f5f7fa;
}
.text-dark_grey {
  color:#333333
}
.text_primary {
  color:#00BAF2
}
.text-medium-grey {
    color: #525252;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
